body, html {
  padding: 0;
  margin: 0;
}

.header_with_image_nav {
  box-shadow: 11px 11px 50px grey;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.team_name {
  display: inline;
  font-family: 'Nanum Brush Script', cursive;
  font-size: 4em;
  font-weight: bold;
  margin-left: : 10px;
  color: White;
}

.style_s {
  font-size: 1.3em;
}

.nav {
  display: inline-block;
  padding-left: 150px;
}

.nav_list li {
  list-style-type: none;
  float: right;
  display: block;
  padding: 10px;
}

.nav_list li a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-weight: bold;
  font-family: 'Josefin Slab', serif;
}

.nav_list li a:hover {
  color: orange;
  font-weight: bolder;
}

.ipl_logo {
  padding: 7px;
  float: right;
  height: 100px;
  width: 170px;
  display: inline;
}

.team_details {
  margin: 5px;
  padding: 5px;
}

.content_home {
  margin-top: 114px;
  padding: 5px;
  background-image: url('./RON_5362.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.content_team {
  margin-top: 114px;
  padding: 5px;
  background-image: url('./teams.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.content_batting {
  margin-top: 114px;
  padding: 5px;
  background-image: url('./A70I1906.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.content_bowling{
  margin-top: 114px;
  padding: 5px;
  background-image: url('./bowling.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.team {
  background-color: rbga(0, 120, 150, 0.5);
}

#logos {
  height: 500px width:500px;
}

.nameofTeams {
  display: inline-block;
  padding: 3px;
  margin: 0;
  height: 80px;
  width: 300px;
  background-color: rbga(20, 200, 150, 0.2);
}

.graph_heading{
  font-size:23px;
  font-weight:bold;
  font-family: 'Covered By Your Grace', cursive;
  color:orange;
}

.graph_content_explanation{
  font-weight:bold;
   font-family:'Puritan', sans-serif;
  color:white;
}


.team_cards {
  display: inline-block;
  height: 200px;
  width: 500px;
  background-color: rbg(211, 211, 211)
  font-color:orange;
}

.team_cards_strike_rate {
  display: inline-block;
  height: 400px;
  width: 500px;
  background-color: rbg(211, 211, 211)
}




table,th,tr,td {
  border:1px solid white;
  border-collapse: collapse;
  color:white;
}

td,th{
  padding: 6px;
}


#player_of_match th{
  background-color: black;

}

#player_of_match tr td{
  color:black;
  padding: 10px;

}

#player_of_match tr:nth-child(even){
  background-color: rgba(128,128,128,0.5);
}

#player_of_match tr:nth-child(odd){
  background-color: rgba(255,255,255,0.5);
}


button{
  background-color: rgba(255,255,255,0.5);
  border: 1px solid black;
  border-radius: 5px;
  padding-left:10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  color:black;
  font-weight: bold;
  
}



button:hover{
  background-color: rgba(0, 102, 255,0.5);
  color:white;
  cursor: pointer;
  box-shadow: 3px 3px 20px white;
}
